{{>header}}

<body>
    {{>navbar}}
    <div class="p-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {{#each products}}
        {{#each this}}
        {{#if this.imagePath}}
        <div class="mt-6">
            <div class="">
                <div
                    class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src={{this.imagePath}} alt="Front of men&#039;s Basic Tee in black."
                        class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            {{this.title}}
                        </h3>
                        <p>{{this.description}}</p>
                        <p class="mt-1 text-sm text-gray-500">Price</p>
                    </div>
                    <div>
                        <form action="/cartdelete" class="galleryform" method="post">
                            <input type="hidden" name="imagePath" value={{this.imagePath}} />
                            <input type="hidden" name="title" value={{this.title}} />
                            <input type="hidden" name="description" value={{this.description}} />
                            <input type="hidden" name="price" value={{this.price}} />
                            <button type="submit" class="">Delete</button>
                        </form>
                        <p>-----</p>
                        <p class="text-sm font-medium text-gray-900">{{this.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
        {{/each}}

    </div>
    <div class="text-center py-6 bg-slate-500 text-white rounded-md">
        <p> Total Checkout Amount : {{amount}}</p>
        <a href="/payment"><button>Checkout</button></a>
    </div>
    {{>footer}}
</body>