{{>header}}
<body>
    {{>navbar}}
    
    <div class="gallery">
        <h1>Anique Paintings</h1>
        <div class="backendImg">
            {{# each products}}
                {{# each this}}
                    {{# if this.imagePath}}
                        {{!-- {{this.title}} --}}
                        <div>
                            <img src={{this.imagePath}} alt=""/>
                            <h2>{{this.title}}</h2>
                            <p>{{this.description}}</p>
                            <p>{{this.price}}</p>
                            <form onsubmit="/gallery" class="galleryform" method="POST">
                                <input type="hidden" name="imagePath" value={{this.imagePath}} />
                                <input type="hidden" name="title" value={{this.title}} />
                                <input type="hidden" name="description" value={{this.description}} />
                                <input type="hidden" name="price" value={{this.price}} />
                                {{!-- {{#if user}}
                                <input type="hidden" name="email" value={{user.email}} />
                                {{/if}} --}}
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        </div>
                    {{/if}}
                {{/each}}
            {{/each}}
        </div>
    </div>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <footer>
        <address>
            Dosti height Apartments<br>
            Antop Hill, wadala.<br>
            Mumbai<br>
            open time: 9am to 10pm
        </address>
    </footer>
    {{>footer}}
</body>
</html>